.index-wrapper .navs {
  padding: 10px 0;
  background-color: #fff;
}

.index-wrapper .navs .flex-nav {
  text-align: center;
}

.index-wrapper .navs .flex-nav img {
  width: 48px;
}

.index-wrapper .navs .flex-nav h3 {
  margin-top: 7px;
  font-size: 13px;
  font-weight: normal;
}
